@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./fonts/barlow-condensed-v13-latin_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./fonts/barlow-condensed-v13-latin_latin-ext-700.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./fonts/barlow-condensed-v13-latin_latin-ext-800.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./fonts/barlow-condensed-v13-latin_latin-ext-reg.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/barlow-v13-latin_latin-ext-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/barlow-v13-latin_latin-ext-500.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/barlow-v13-latin_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/barlow-v13-latin_latin-ext-700.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/barlow-v13-latin_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7f6;
  color: #1a1a1a;
  font-family: 'Barlow', sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #e30613 !important;
  outline: none;
}